<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.ima.smedialinktest1" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".TextnbtnListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TextnbtnDetailActivity"
            android:label="@string/title_textnbtn_detail"
            android:parentActivityName=".TextnbtnListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TextnbtnListActivity" />
        </activity>
        <activity
            android:name=".Settings"
            android:label="@string/title_activity_settings" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TextnbtnListActivity" />

        </activity>
    </application>

</manifest>
